<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,
shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css" rel="stylesheet">

  <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js,
then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
</head>

<div class="container">
  <form [formGroup]="detailForm">
    <div class="border">
      <label class="mybtn">
        <i class="fa fa-user"></i>PROFIL
      </label>
      <div>
        <h6>Racine:
          <span id="racine" name="racine" formControlName="racine">{{racine}}</span>
        </h6>
        <h6>Nom & Prénoms:
          <span id="username" name="username" formControlName="username">{{nomPrenom}}</span>
        </h6>
        <h6>Telephone: <span id="tel" name="tel" formControlName="tel">{{tel}}</span></h6>

      </div>
    </div>
  </form>
  <div class="border" style="margin-top: 30px;">
    <h6><i class="fa fa-cogs"></i>CHANGER MON MOT DE PASSE</h6>

    <form [formGroup]="mdpForm">
      <div class="containers ">
        <div class="row">

          <div class="col">

            <div class="form-floating">
              <input  type="password" formControlName="mdpActu" class="form-control">
              <label for="mdpActu">Mot de passe actuel</label>
            </div>
            <div *ngIf="mdp" style="color: red;">
              <h6>*Mot de passe incorrect</h6>
            </div>
          </div>



          <div class="col">

            <div  class="form-floating">
              <input  type="password" formControlName="mdp1" class="form-control">
              <label for="mdp1">Nouveau mot de passe</label>
            </div>
            <div class="errors" *ngIf="mdpForm.get('mdp1').invalid && (mdpForm.get('mdp1').touched || mdpForm.get('mdp1').dirty)">
              <div style="margin-top: 5px; color: red;"  *ngIf="mdpForm.get('mdp1').hasError('required')">
                Mot de pass réquis
              </div>
              <div style="margin-top: 5px; color: red;" class="error-text" *ngIf="mdpForm.get('mdp1').hasError('passwordStrength')">
               {{mdpForm.get('mdp1').errors['passwordStrength']}}
              </div>
              </div>
              <div *ngIf="duo" style="color: red;">
                <h6>*Mot de passe non identiques</h6>
              </div>
          </div>



          <div class="col">

            <div class="form-floating">
              <input type="password" formControlName="mdp2" class="form-control">
              <label for="mdp2">Confirmer le mot de passe</label>
            </div>
            <div *ngIf="duo" style="color: red;">
              <h6>*Mot de passe non identiques</h6>
            </div>
          </div>
          <div style="text-align: right; margin-top: 20px;">
            <button (click)="ChangeMdp()" class="btn btn-success" type="submit">Enregistrer</button>
          </div>
        </div>


      </div>


    </form>
  </div>



</div>
