<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
      shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js,
  then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>



<div class="container" style="font-size: 1.89vh">
    <div class="border">
        <label class="mybtn">
            <i class="fa fa-exchange"></i>CONSULTATION DES TRANSACTIONS</label>
        <form #f="ngForm" [formGroup]="editForm">

            <div class="form-group has-search">
                <div class="row">
                    <div class="col">
                      <label style="font-weight: bold;" for="test">Identifiant</label>
                        <span class="fa fa-search form-control-feedback"></span>
                        <input [formControl]="identifiant" type="text" class="form-control" id="test" placeholder="Rechercher par identifiant" (keypress)="numberOnly($event)" />
                    </div>
                    <div class="col">
                      <label style="font-weight: bold;" for="test">Facturier</label>
                      <!-- <span class="fa fa-search form-control-feedback"></span> -->
                      <select (change)="onChange($event.target.value)" [formControl]="facturier" id="facturier" formControlName="facturier" class="form-select sm" aria-label="Default select example">
                        <option  value = null >ALL</option>

                        <option  *ngFor="let facturier of AllFacturier; let i = index" [value]="AllFacturier[i].facturier">{{AllFacturier[i].facturier}}</option>
                          </select>
                      <!-- <input [formControl]="facturier" type="text" class="form-control" id="test" placeholder="Rechercher par Facturier" (keypress)="omit_special_char($event)" /> -->
                  </div>


                    <div class="col">
                      <label style="font-weight: bold;" for="test">Date début</label>
                        <span class="fa fa-search form-control-feedback"></span>
                        <input type="date" class="form-control" formControlName="startDate" name="startDate" (ngModelChange)="displayDate($event,$event)"/>
                    </div>
                    <div class="col">
                      <label style="font-weight: bold;" for="test">Date Fin</label>
                        <span class="fa fa-search form-control-feedback"></span>
                        <input type="date" class="form-control" formControlName="endDate"  displayDate name="endDate" (ngModelChange)="displayDate($event,$event)"/>
                    </div>
                   <div class="col" style="margin-top: 28px;">
                        <button style="text-align: left;padding-left: initial;text-align: center;" (click)="reset()" type="button" class="form-control btn btn-success">Réinitialiser</button>
                   </div>
                </div>
            </div>
        </form>
    </div>

  <div class="table-responsive">

    <table style="text-size-adjust: auto;font-size: 14px;" data-toggle="table" data-pagination="true" data-pagination-h-align="left" data-pagination-detail-h-align="right " class="table table-sm table-striped table-hover table-center">
        <thead>
            <tr>
                <th>N°</th>
                <th>IDENTIFIANT</th>
                <th style="text-align: center !important;">REFERENCE</th>
                <th style="text-align: center !important;">NUMERO RECU</th>
                <!-- <th>NUMERO RECU</th> -->
                <th style="text-align: center !important;">DATE PAIEMENT</th>
                <th style="text-align: center !important;">EXPIRATION FACTURE</th>
                <th style="text-align: center !important;">FACTURIER</th>
                <th style="text-align: center !important;">MONTANT</th>
                <th style="text-align: center !important;">TYPE</th>
                <th style="text-align: center !important;">STATUT</th>
                <th style="text-align: center !important;">ACTIONS</th>

                <!-- <th>PAGE MODULE</th> -->

            </tr>
        </thead>
        <tbody id="myTable ">
            <tr *ngFor="let envoi of allEnvois | paginate: { itemsPerPage: 10, currentPage: p } | search : [identifiant.value, facturier.value] :['identifiant','facturier']; let i = index ">
                <td><span>{{i+1}}</span></td>
                <td><span>{{envoi.identifiant}}</span></td>
                <td style="text-align: center !important;"><span>{{envoi.referenceFT}}</span></td>
                <!-- <td><span>{{envoi.reference}}</span></td> -->
                <td style="text-align: center !important;"><span>{{envoi.reference}}</span></td>

                <td style="text-align: center !important;"><span>{{envoi.dateRegle  + ' '+ envoi.heure }}</span></td>
                <td style="text-align: center !important;"><span>{{envoi.dtExpFacture}}</span></td>
                <td style="text-align: center !important;" *ngIf=""><span>{{envoi.dtExpFacture}}</span></td>
                <td style="text-align: center !important;"><span>{{envoi.facturier}}</span></td>
                <td style="text-align: center !important;"><span>{{envoi.montantDebite}}</span></td>
                <td style="text-align: center !important;"><span>{{envoi.typeRegle}}</span></td>
                <td style="text-align: center !important;"><span>{{envoi.statut}}</span></td>

                <td style="text-align: center !important;">
                    <button class="btn btn-sm btn-warning " (click)="onSelect(envoi)">
                  <i class="fa fa-print "></i>Imprimer</button>
                </td>

            </tr>
        </tbody>

    </table>
    <pagination-controls style="text-align: center;" (pageChange)="p = $event"></pagination-controls>

  </div>


