<!--

  <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5"><br>
                    <br>
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="assets/newlogo.jpg" class="image"> </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card2 card border-0 px-4 py-5"> <br>

                    <div class="row px-3 mb-4">  <br>
                    </div>
                    <div class="row px-3"> <label class="mb-1">
                            <h6 class="mb-0 text-sm">Email Address</h6>
                        </label> <input class="mb-4" type="text" name="email" placeholder="Enter a valid email address"> </div>
                    <div class="row px-3"> <label class="mb-1">
                            <h6 class="mb-0 text-sm">Password</h6>
                        </label> <input type="password" name="password" placeholder="Enter password">
                    </div>
                    <br>
                     <div class="row px-3 mb-4">
                  </div>
                    <div class="row mb-3 px-3"> <button type="submit" class="btn btn-blue text-center" (click)="authentification()" >Login</button> </div>
                    <div class="row mb-4 px-3"> <small class="font-weight-bold">Don't have an account? <a class="text-danger ">Register</a></small> </div>
                </div>
            </div>
        </div>
        <div class="bg-blue py-4">
            <div class="row px-3"> <small class="ml-4 ml-sm-5 mb-2">Atlantique busness international </small>
                <div class="social-contact ml-4 ml-sm-auto">
                    <span class="fa fa-facebook mr-4 text-sm"></span>
                    <span class="fa fa-google-plus mr-4 text-sm"></span>
                    <span class="fa fa-linkedin mr-4 text-sm"></span>
                    <span class="fa fa-twitter mr-4 mr-sm-5 text-sm"></span>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div class="wrapper fadeInDown">
  <div id="formContent" style="
  margin-top: 92px;
">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="assets/icone.png" id="icon" alt="User Icon" />
      <h1>E-FACTURE</h1>
    </div>


    <div *ngIf="erreur" style="color: red;">
      <h5>*Veuillez saisir vos identifiants de connexion</h5>

  </div>
  <!-- <div *ngIf="falseLogin" style="color: red;">
    <h5>*Identifiants incorrects</h5>

</div>
<div *ngIf="blockUser" style="color: red;">
  <h5>*Compte non Activé , Veuillez contacter l'administrateur de la plateforme</h5>

</div> -->
    <!-- Login Form -->
    <form [formGroup]="formValue"> <!--
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="username">
      <input type="password" id="password" class="fadeIn second" name="login" placeholder="password"> <br>
      <input type="submit" class="fadeIn fourth" value="Log In" (click)="authentification()"> -->
      <span class="isError" style="color: #ee2808;" *ngIf="erreurAuth==1">Votre login ou mot de passe incorrect</span>
      <span class="isError" style="color: #ee2808;" *ngIf="erreurAuth==2">Compte non autorisé</span>
      <span  style="color: #fff;" *ngIf="erreurAuth==3"></span>
      <div class="mb-3">
          <label> Utilisateur</label>
          <input maxlength="8" (keypress)="numberOnly($event)" type="text" name="username" class="form-control" formControlName="login" placeholder="Entrez le numéro client">
      </div>
      <div class="md-5">
          <label>  Mot de passe</label>
<!--             <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" aria-label=".form-control-sm example"> -->
          <input style="background-color: #f6f6f6;color: #0d0d0d;padding: 15px 32px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;margin: 5px;width: 85%;border: 2px solid #f6f6f6;transition: all .5s ease-in-out;border-radius: 5px 5px 5px 5px;" type="password" name="password1" class="form-control" formControlName="password1" placeholder="Entrer votre mot de passe">
      </div>
      <input type="submit" class="fadeIn fourth" value="Connexion" (click)="onLoggedin()">
      <div style="margin-bottom: 21px;"><a routerLink="/forgot">Mot de passe oublié !</a></div>
    </form>

    <!-- Remind Passowrd -->
<!--       <div id="formFooter">
      <a class="underlineHover" href="#">Go to the Site</a>
    </div>
 -->
  </div>
</div>
